body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 700px;
}
.header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 14.5px;
  letter-spacing: -0.075em;
  background: #F55A5A;
  color: whitesmoke;
}

.header--logo {
  padding-right: 1rem;
  width: 30px;
}

.article--cover {
  background-image: url(https://source.unsplash.com/WLxQvbMyfas);
  background-position: cover;
  width: 200px;
  height: 200px;
}

article {
  display: flex;
}

.article--info--container {
  display: flex;
  flex-direction: column;
}

.article--location--container {
  display: flex;
}

.location--pin {
  width: 0.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
